blinker==1.9.0
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
djlint==1.36.4
EditorConfig==0.17.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsbeautifier==1.15.4
json5==0.12.1
MarkupSafe==3.0.3
pathspec==0.12.1
PyYAML==6.0.3
regex==2025.11.3
six==1.17.0
tqdm==4.67.1
Werkzeug==3.1.3
